<footer class="page-footer dark" style="background-color: lightgray;" >
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Home</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Company Information</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><i class="fa fa-angle-right"></i><a href="#"> FAQ</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Help desk</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Terms of Service</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Terms of Use</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"> Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="text-align: center; background: darkgray;">
            <p style="margin-bottom: 0px">Booker Club © All rights reserved 2019</p>
        </div>
    </footer>
    
    
    

</body>

</html>