<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Booker</title>
    <link
      rel="stylesheet"
      href="/stylesheets/public/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/public/simple-line-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/public/smoothproducts.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body
    style='background-image: url("/images/bg_poly_new.svg");background-repeat: no-repeat;background-size: cover;'
  >
    <nav
      class="navbar navbar-light fixed-top clean-navbar"
      style="background-color: rgba(233, 225, 247, 0.9);"
    >
      <div class="container">
        <a
          class="navbar-brand logo"
          href="#"
          style="font-size: 31px;margin-right: 0;padding-top: 0px;padding-right: 0;padding-bottom: 0;height: 36px;"
          >Booker</a
        >

        <ul class="nav navbar-nav ml-auto">
          <li role="presentation" class="nav-item" style="padding-right: 0;">
            <a class="nav-link" href="#" style="font-size: 20px; color: black;"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </nav>