<nav
  class="navbar navbar-light fixed-top clean-navbar"
  style="background-color: rgba(233, 225, 247, 0.9);"
>
  <div class="container">
    <a
      class="navbar-brand logo"
      href="#"
      style="font-size: 31px; margin-right: 0; padding-top: 0px; padding-right: 0; padding-bottom: 0;height: 36px;"
      >Booker</a
    >

<<<<<<< HEAD
    <!-- <%if(%><%=true) { %> -->
=======
    <% if( !isLoggedIn ) { %>
>>>>>>> 84c6899d6b9652c6b8eb31960614bf6227637e2e
    <ul class="nav navbar-nav ml-auto">
      <li role="presentation" class="nav-item" style="padding-right: 0;">
        <a class="nav-link" href="/login" style="font-size: 20px; color: black;"
          >Login </a
        >
      </li>
    </ul>
    <!-- <% }  %> -->
      <ul class="nav navbar-nav ml-auto">
        <li role="presentation" class="nav-item" style="padding-right: 0;">
          <a class="nav-link" href="/login" style="font-size: 20px; color: black;"
<<<<<<< HEAD
            ></a
=======
            >Signed in as <%= user.name %></a
>>>>>>> 84c6899d6b9652c6b8eb31960614bf6227637e2e
          >
        </li>
      </ul>
    
  </div>
</nav>
