<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Booker</title>
    <link rel="stylesheet" href="../public/stylesheets/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../public/stylesheetspublic/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../public/stylesheetspublic/smoothproducts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body style="background-image: url(&quot;../public/images/bg_poly_new.svg&quot;);background-repeat: no-repeat;background-size: cover;">
    <nav class="navbar navbar-light fixed-top clean-navbar" style="background-color: rgba(233, 225, 247, 0.9);">
    <div class="container"><a class="navbar-brand logo" href="#" style="font-size: 31px;margin-right: 0;padding-top: 0px;padding-right: 0;padding-bottom: 0;height: 36px;">Booker</a>
        
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item" style="padding-right: 0;">
                    <a class="nav-link" href="#" style="font-size: 20px; color: black;">Login</a>
                </li>
            </ul>
   
    </div>
</nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(255,255,255,0);min-height: 500;height: 500;">
            <div class="text">
                <h2 style="letter-spacing: 11px;font-size: 62px;">THE BOOKERS CLUB</h2>
                <p style="font-size: 21px;line-height: 44px;">At Booker you can find books to donate, sell, borrow or share, hence helping the society</p>
            </div>
        </section>
        <section class="clean-block clean-info dark" id="#info">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Info</h2>
                    <p>At Booker you can find books to donate, sell, borrow or share. Here you can help the society by reusing old books and help reduce the use of paper</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="../public/images/book5.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="../public/images/book3.jpg">
                    </div>

                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Here you can help the society by reusing old books and help reduce the use of paper </p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box">
                        <h4>Sell Books</h4>
                        <p>Sell books to help other curious people</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <h4>Buy at your ease</h4>
                        <p>Buy books at the lowest prices</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <h4>Share for all</h4>
                        <p>Share books super easily</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <h4>Borrow as you need</h4>
                        <p>Borrow for your specific time period as per your requirement</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>At Booker you can find books to donate, sell, borrow or share, hence helping the society</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Booker Club © All rights reserved 2019</p>
        </div>
    </footer>
    <script src="../public/stylesheets/public/jquery.min.js"></script>
    <script src="../public/stylesheets/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../public/stylesheets/public/smoothproducts.min.js"></script>
    <script src="../public/stylesheets/public/js/theme.js"></script>
</body>

</html>