<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

	<link href="/stylesheets/profile1.css" rel="stylesheet">
	
	<link href="/stylesheets/profile2.css" rel="stylesheet">
	
</head>

<body>
	
		<div  class="container" style="padding: 60px">
					<div class="intro mt-10">
						<div class="profile-img "><img src="./images/profile-1-250x250.jpg" alt=""></div>
						<h2 style="font-size: 2rem;"><b>Kaustubh Joshi</b></h2>
						<br>
						<h4 class="">Student

						</h4>
						<br>
						<ul class="information margin-tb-10">
							<li style="font-size: 1.1rem;"><b>PHONE : </b>9971541579</li>
							<br>
							<li style="font-size: 1.1rem;"><b>EMAIL : </b>kaustubh19j@gmail.com</li>
							<br>
							<li style="font-size: 1.1rem;"><b>COLLEGE :</b> MAHARAJA SURAJMAL INSTITUTE OF TECHNOLOGY</li>
						</ul>
						<br>
					<a href="#"><button type="button" class="btn btn-primary">Check Book Feed</button></a></div>
		</div>
	</div>	
</body>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>
