<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Booker</title>
    <link rel="stylesheet" href="../public/stylesheets/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../public/stylesheets/public/simple-line-icons.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body style="background-image: url(&quot;../public/images/bg_poly_new.svg&quot;);background-repeat: repeat-y;background-size: cover;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="">Booker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse justify-content-betweenpse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </div>
</nav>
    <main class="page">
        <section class="container" style=" margin-top: 2%;">
            <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Books" aria-label="Books" aria-describedby="basic-addon2" style=" border-radius: 20px 0px 0px 20px">
  <div class="input-group-append">
    <button class="input-group-text btn btn-secondary" id="basic-addon2" style=" border-radius: 0px 20px 20px 0px;">booker</button>
  </div>
</div>

</section>

<!-- 
  <div class="card-columns col-md-8">
  <div class="card">
    <img class="card-img-top" src="../public/images/book3.jpg" alt="book">
    <div class="card-body">
      <h5 class="card-title">Book Name</h5>
      <p class="card-text">Book Description</p>
      <button class="btn btn-secondary btn-sm">Get this book</button>
    </div>
  </div>
</div>
<div class="card-columns col-md-8">
  <div class="card">
    <img class="card-img-top" src="../public/images/book3.jpg" alt="book">
    <div class="card-body">
      <h5 class="card-title">Book Name</h5>
      <p class="card-text">Book Description</p>
      <button class="btn btn-secondary btn-sm">Get this book</button>
    </div>
  </div>
</div>

 -->
        <section class="row" style="margin-left: 2%">
            <section class="col-md-9">
                <div class="row">
                   <div class="col-10 col-md-3 book no-gutters">
                                <div class="card" style="width: 100%;">
                                <img class="card-img-top" src="../public/images/book3.jpg" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">book name</h4>
                                     <p class="card-text">description goes here</p>
                                   <a href="#" class="btn btn-primary btn-dark">Get this Book</a>
                                </div>
                                 </div>
                    </div>
                    <div class="col-10 col-md-3 book no-gutters">
                                <div class="card" style="width: 100%;">
                                <img class="card-img-top" src="../public/images/book3.jpg" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">book name</h4>
                                     <p class="card-text">description goes here</p>
                                   <a href="#" class="btn btn-primary btn-dark">Get this Book</a>
                                </div>
                                 </div>
                    </div>
                    <div class="col-10 col-md-3 book no-gutters">
                                <div class="card" style="width: 100%;">
                                <img class="card-img-top" src="../public/images/book3.jpg" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">book name</h4>
                                     <p class="card-text">description goes here</p>
                                   <a href="#" class="btn btn-primary btn-dark">Get this Book</a>
                                </div>
                                 </div>
                    </div>
                </div>

            </section>
            <section class="col-md-3">
                <div class="">
                    <div class="card" style="margin: 20px">
                                <img class="card-img-top" src="../public/images/book3.jpg" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">User name</h4>
                                     <p class="card-text">Your Orders</p>
                                     <ul>
                                     <li>
                                     <div>
                                        <h4>Book 1 name</h4>
                                         <p>Book 1 desc</p>
                                     </div>
                                     </li>
                                     <li>
                                     <div>
                                        <h4>Book 2 name</h4>
                                         <p>Book 2 desc</p>
                                     </div>
                                     </li>
                                     </ul>
                                </div>
                                 </div>

                </div>
            </section>
        </section>

    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Booker Club © All rights reserved 2019</p>
        </div>
    </footer>
    <script src="../public/stylesheets/public/jquery.min.js"></script>
    <script src="../public/stylesheets/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../public/stylesheets/public/smoothproducts.min.js"></script>
</body>
</html>